<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Articles</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">

</head>
<body>
    <!-- Navbar -->
    <nav class="container-fluid">
        <ul>
            <li><strong><a href=''>Video Summarizer</a></strong></li>
        </ul>
        <ul>
            <li><a href="#">Login</a></li>
            <li><a href="#">Sign-up</a></li>
         </ul>
    </nav>

    <!--Main Content Container-->
    <main class="container">
        <div class="grid">
            <section>
                <article>
                    <!--Articles Section-->
                    <section>
                        <hgroup>
                            <h2>All Articles</h2>
                            <div>
                                <div>
                                    <hr>
                                    <h5 >Article Title 1</h5>
                                    <p>This is the content. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quam a nam iure, consequatur ratione modi libero ab veniam laborum quidem unde architecto sed ipsa quisquam ullam, saepe aperiam? Numquam.</p>
                                </div>
                                <div>
                                    <hr>
                                    <h5 >Article Title 2</h5>
                                    <p>This is the content. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quam a nam iure, consequatur ratione modi libero ab veniam laborum quidem unde architecto sed ipsa quisquam ullam, saepe aperiam? Numquam.</p>
                                </div>
                                <!--Repeat-->
                            </div>
                        </hgroup>
                    </section>
                </article>
            </section>
        </div>
    </main>

    <footer class="container">
        <small>Powered by <a href="https://github.com/holipat">Aleyna</a> and AI <3</small>
    </footer>
</body>
</html>