<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Articles</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">

</head>
<body>
    <!-- Navbar -->
    <nav class="container-fluid">
        <ul>
            <li><strong><a href='/'>Video Summarizer</a></strong></li>
        </ul>
        <ul>
            <li><a href="/article-list"></a>Saved Articles</li>
            <li><a href="logout">Logout</a></li>
         </ul>
    </nav>

    <!--Main Content Container-->
    <main class="container">
        <div class="grid">
                <article>
                    <!--Articles Section-->
                    <section>
                        <hgroup>
                            <h2>All Articles</h2>
                            <div>
                                {%for article in article_posts reversed%}
                                <a href= "article-details/{{article.id}}">
                                    <div>
                                        <hr>
                                        <h5 >{{article.youtube_title}}</h5>
                                        <p>{{article.generated_content|truncatechars:80}}</p>
                                    </div>
                                </a>
                                {%endfor%}
                                <!--Repeat-->
                            </div>
                        </hgroup>
                    </section>
                </article>
        </div>
    </main>

    <footer class="container">
        <small>Powered by <a href="https://github.com/holipat">Aleyna</a> and AI <3</small>
    </footer>
</body>
</html>