<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Details</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="container-fluid">
        <ul>
            <li><strong><a href=''>Video Summarizer</a></strong></li>
        </ul>
        <ul>
            <li><a href="#">Login</a></li>
            <li><a href="#">Sign-up</a></li>
         </ul>
    </nav>
    <!--Main Content--> 
    <main class="container">
        <div class="grid">
            <section>
                <article>
                    <hgroup>
                        <h2>Article Details</h2>
                        <hr>
                        <div>
                            <h4>Article Title</h4>
                            <p>This is the content.</p>
                            <hr>
                            <h4>Youtube Title</h4>
                            <p>Title of the video</p>
                            <hr>
                            <h4>Youtube Link</h4>
                            <a href="#">https://www.youtube.com/</a>
                        </div>
                    </hgroup>
                </article>
            </section>
        </div>
    </main>
    <footer class="container">
        <small>Powered by <a href="https://github.com/holipat">Aleyna</a> and AI <3</small>
    </footer>
</body>
</html>